* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand',sans-serif;  
    font-size: 10px; 
    color:#ffffff;
  }

  body{
      background:rgb(50,23,77);
  }

  .main{    
    width: 100%;
    margin:auto;
    min-height: 80vh;
  }
  main::before{
      content:'';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background:linear-gradient(#e91e63, #ffc107);
      clip-path:circle(22% at 30% 20%);
  }
  main::after{
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:linear-gradient(#ffffff, #da00ff);
    clip-path:circle(20% at 90% 90%);
}

#calculator .display .action-button .wrap-numbers {
    background:transparent;
    
}
  #calculator{
      height: 700px;
      width: 400px;
      margin: auto;    
      margin-top: 30px;
      display:flex;
      flex-direction: column;
  }
  #calculator{              
      background: rgb(255, 255, 255,0.1);
      backdrop-filter: blur(10px);
      border-radius: 6px;
      position: relative;
      overflow: hidden;
      z-index: 10;
      border-top: 1px solid rgba(255,255,255,0.2);
      border-left: 1px solid rgba(255,255,255,0.2);
      box-shadow: 5px 5px 30px rgba(0,0,0,1);
      
  }
  
  .display{
    height: 200px;    
    width: 100%;
    border-bottom: 1px solid rgba(255,255,255,0.5);
    word-wrap: break-word;
    word-break: break-all;  
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;    
}  

#old-display{
    color: rgba(255,255,255,.25);
    font-size: 2.5rem;
    font-weight: 600;
}

#current-display{
    color: #ffffff;
    font-size: 3.5rem;

}

   
p{
        font-weight: 600;
        width: 400px;
        white-space: nowrap;   
       
        
}   
   

  .action-button{    
    height: 80px;
    display:flex;
    justify-content:space-between;
}
  .wrap-numbers{    
    height: 80%;    
    display:grid;
    grid-template-columns:repeat(4, 1fr);
    
}


.btn{
    background:transparent; 
    cursor: pointer; 
    border:none;
    border: 1px solid rgba(255,255,255,0.02);
    border-radius: 6px;
    font-size: 1.8em;
    font-weight: 500;
    color:#000000;
}
.action{
    width: 50%;
    font-size: 1.5em;
}
.btn:hover{
    color : #ffffff;
    box-shadow: 5px 5px 30px rgba(0,0,0,0.5);
   
}

footer{   
    height: 70px; 
    width: 100%;
    display: flex;
}
.footer-text{
    margin: auto;
    margin-top:30px;
    font-size: 1.5em;
    display: flex;
    justify-content: space-between;
   
}

